<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form</title>
    <link href="{{ url_for('static',filename='styles/login.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
<h2>Login Page</h2><br>
<div class="login">
    <form action="login.php" id="login" method="get">
        <label><b>User Name
        </b>
        </label>
        <input id="Uname" name="Uname" placeholder="Username" type="text">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input id="Pass" name="Pass" placeholder="Password" type="Password">
        <br><br>
        <input id="log" name="log" type="button" value="Log In Here">
        <br><br>
        <input id="check" type="checkbox">
        <span>Remember me</span>
        <br><br>
        Forgot <a href="#">Password</a>
    </form>
</div>
</body>
</html>